@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 40px;
}

.debug {
  border: 1px solid red;
}

body {
  @apply bg-red-50;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  @apply text-white;
}

main {
  margin-top: -72px;
}


.app-bar {
  @apply flex justify-between p-2 container mx-auto;
  min-width: 340px;
}

.logo {
  @apply flex items-center;
}

.app-bar-logo {
  @apply rounded-full mr-4;
  width: 10%;
}

.app-bar-title {
  @apply font-bold;
}

.app-bar-nav>ul {
  @apply flex;
}

.app-bar-nav>ul li {
  @apply mx-4 text-sm;
}

.app-bar-nav>ul li:hover {
  @apply underline;
}

.hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../img/hero.jpg');
  background-position: 50% 50%;
  color: white;
  min-height: 587px;
}

.hero-container {
  width: 340px;
  margin: 0 auto;
}

.hero-title {
  font-size: 4rem;
  @apply text-center;
}

.page-intro {
  @apply bg-white mx-4 -mt-32 mb-8
}

.site-title {
  @apply text-center text-3xl uppercase font-bold py-4 text-red-500;
}

.section-title {
  @apply text-center p-4 text-xl uppercase text-red-500 underline-offset-8 underline font-bold mb-4;
}

.item-title {
  @apply text-2xl font-bold text-red-500 mb-4;
}

.sabores, .decoraciones, .pedidos {
  @apply mb-16;
}

.pastel, .decoracion {
  @apply mb-8 overflow-hidden rounded-t-xl bg-white;
}

.pastel header, .decoracion header {
  @apply overflow-hidden;
  height: 210px;
}

.pastel figure img, .decoracion figure img {
  @apply object-none
}

.pastel-description {
  @apply p-4
}

.form-input, .form-textarea {
  @apply mt-1 mb-4 block w-full rounded-md border-gray-300 shadow-sm;
}

.form-input:focus, .form-textarea:focus {
  @apply border-pink-300 ring ring-pink-200 ring-opacity-50
}

.form-checkbox {
  @apply rounded border-gray-300 text-pink-600 shadow-sm;
}

.form-checkbox:focus {
  @apply border-pink-300 ring ring-offset-0 ring-pink-200 ring-opacity-50
}

.btn {
  @apply p-2 rounded text-white font-bold;
}

.btn-pink {
  @apply bg-pink-600
}

.btn-pink:hover {
  @apply bg-pink-700
}

/* .sabores>.pastel, .decoraciones>.decoracion {
  @apply border overflow-hidden rounded-xl border-red-100 bg-white shadow-lg cursor-pointer w-full mb-4;
}

.sabores>.pastel figure img, .decoraciones>.decoracion figure img {
  @apply object-fill mx-auto w-1/2;
}

.sabores>.pastel figcaption, .decoraciones>.decoracion figcaption {
  @apply text-center py-4;
}

 */
@media (min-width: 768px) {
  .page-intro {
    max-width: 700px;
    @apply mx-auto
  }

  .items-container {
    @apply grid grid-cols-2 gap-4
  }

  .container {
    max-width: 700px;
    @apply mx-auto;
  }
}
